{% extends 'base.html' %}
{% block content %}

    <h1>Profile Summary</h1>
    {%  for user in users %}
    <hr> 
        <div> 
            <table style="width:100%">
                <tr>
                    <th>User ID:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>First Name:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td></td>
            </table>
            </div>
        </div>
    {% endfor%}
{% endblock %}
