{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>

<div class="signup-form">
<form action="" method="post">
    {% csrf_token %}
  <div class="input-field col s12 l6">
    <input type="text" id="user_id" class="validate">
    <label for="user_id">User ID</label>
  </div>
  <div class="input-field col s12 l6">
    <input type="text" id="first_name" class="validate">
    <label for="first_name">First Name</label>
  </div>
  <div class="input-field col s12 l6">
    <input type="text" id="last_name" class="validate">
    <label for="last_name">Last Name</label>
  </div>
  <div class="input-field col s12">
    <input type="email" id="email" class="validate">
    <label for="email" data-error="wrong" data-success="right">Email Address</label>
    <div class="input-field col s12">  
    <input type="submit" class="btn" value="Let's Get Fit!">
    </div>
  </div>
</form>
</div>

{% endblock %}