{% extends 'base.html' %}

{% block content %}

<h2>About Fitly</h2>
<hr>

<section class="about-info">
  <div class="info-container">
    <div class="info-left">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis illo, similique labore voluptate nulla animi dolorum eius laborum illum, nesciunt quod reprehenderit dicta autem vel nobis minima sit deleniti!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quos autem. Iusto voluptatum doloremque vel laborum nesciunt perferendis ipsum repellendus doloribus, nisi quo amet eaque aspernatur cumque ut odit distinctio tenetur quasi veniam itaque, magni accusantium, adipisci sunt. Odit, repellat?</p>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="testimonial-container">
    <h2 class="heading">What Our Users Say</h2>
    <div class="testimonial">
      <img src="../static/img/person-1.jpg" alt="Samantha">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolor nisi expedita distinctio atque laboriosam aliquam mollitia amet dolorum et id ab cumque ut modi corporis doloremque repudiandae earum itaque sed ipsa voluptatibus, animi adipisci corrupti nesciunt! Repellat corporis facilis placeat et earum itaque quis, error recusandae minus dolorum, praesentium quaerat corrupti? Vel reprehenderit provident cum pariatur at aspernatur praesentium?</p>
    </div>

    <div class="testimonial">
        <img src="../static/img/person-2.jpg" alt="Jen">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, vitae earum. Fuga modi obcaecati ab minima distinctio rem dicta, quidem voluptatibus deserunt architecto harum sint aspernatur perspiciatis cupiditate ipsam autem. Numquam corporis hic provident. Similique incidunt minima ducimus consectetur cumque. Accusantium placeat qui quae laboriosam et, velit eligendi eveniet minima.</p>
      </div>
  </div>
</section>
{% endblock %}