* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-container {
  max-width: 1280px;
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.nav-links {
  color: #333;
  font-weight: 600;
  cursor: pointer;
}

.brand-logo {
  font-size: 45px;
  font-weight: 600;
}

.showcase {
  background: url('../img/showcase.jpeg') no-repeat center center/cover;
  height: 600px;
}

.showcase-container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

.showcase-content h1 {
  font-size: 80px;
  line-height: 1.2em;
}

.showcase-content p {
  font-size: 40px;
  padding-bottom: 20px;
  line-height: 1.7em;
}

main {
  flex-grow: 1;
}

footer>div {
  padding-bottom: 8px;
  text-align: center;
}