@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  min-height: 100vh;
  font-family: 'Cairo', sans-serif;
}

/* Navbar */

.nav-container {
  background-color: #F4F0EA;
  /* max-width: 1280px; */
  max-width: 1600px;
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: #a6a6a6;
  text-decoration: none;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.nav-links {
  color: #000;
  cursor: pointer;
}

.logo {
  margin-right: 200px;
  font-size: 45px;
  font-family: 'Palette Mosaic', cursive;
}

/* home page features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

/* signup page */
h1 {
  text-align: center;
  margin-top: 10px;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* About page */
h2 {
  margin-top: 20px;
}

.btn {
  background-color: #f9f4dd;
  color: #333;
  margin: 10px
}

.btn:hover {
  background-color: #E5F5C7;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #F4F0EA;
  padding-bottom: 8px;
  text-align: center;
}